@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h3> User Sign In</h3>
    <p><a href="https://localhost:44381/User/Login" class="btn btn-success btn-lg">Sign in as user &raquo;</a></p>
</div>

<div class="jumbotron">
    <h3>Admin Sign In </h3>
    <p><a href="https://localhost:44381/Admin/Login" class="btn btn-success btn-lg">Sign in as admin &raquo;</a></p>
</div>


